
/Project/StellarGen/Library
/Project/StellarGen/Temp
/Project/StellarGen/Obj
/Project/StellarGen/Build
/Project/StellarGen/Builds
/Project/StellarGen/Logs
/Project/StellarGen/UserSettings
/Project/StellarGen/Packages/Newtonsoft.Json.13.0.3
/Project/StellarGen/.vs/StellarGen/FileContentIndex/
/Project/StellarGen/.vs
/Project/StellarGen/.vs/StellarGen/CopilotIndices
/Project/StellarGen/.vs/StellarGen/copilot-chat
/Project/StellarGen/Assets/StreamingAssets/Logs/Orrery.log
*.meta
/Project/StellarGen/Assets/Scripts/.vs
/Project/StellarGen/Assets/StreamingAssets/Logs
